.app{
  display: flex;
  flex-direction: column;
}
h1{
  text-align: center;
}

.form-container {
  margin: auto;
  width: 28%;
  border: 1px solid rgb(185, 185, 185);
  padding: 22px;
  
}

label{
  margin-bottom: 4px;
    font-weight: 600;
    font-size: 18px;
}

.form-container input {
  margin-bottom: 12px;
  width: 350px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
}
button{
  padding: 10px;
  width: 100px;
  border: 2px solid rgb(147, 147, 238);
  border-radius: 5px;
  background-color: rgb(95, 95, 95);
  color:blue;
  font-size: 16px;
  font-weight: 600;
}

.popup {
  position: fixed;
  background: #000000;
  color:rgb(175, 197, 241);
  width: 30%;
  height: 45vh;
  margin:0 auto;
  top: 0px;
  border: 1px solid rgb(185, 185, 185);
  padding: 22px;
  border-radius: 5px;
  text-align: center;
}




